{
	servers {
		trusted_proxies static private_ranges
		trusted_proxies_strict
	}
}

http://{$SITE_DOMAIN} {
	encode zstd gzip

	@admin path /admin /admin/*
	handle @admin {
		respond 404
	}

	handle /login/* {
		rate_limit {
			zone login {
				key {client_ip}
				events 5
				window 1m
			}
		}
		reverse_proxy web:8000
	}

	handle {
		rate_limit {
			zone post {
				match {
					method POST
				}
				key {client_ip}
				events 30
				window 1m
			}
		}
		reverse_proxy web:8000
	}
}
